/* ---------- notes ----------*/

/* 
	font colors: #800d0d;

	link colors:  #d42a2a;
*/

/* ---------- Resets and constants ----------*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

ul li {
	color: #800d0d;
}
a {
	text-decoration: none;
	color: #d42a2a;
}
h2 {
	font: normal 1.5em/25px "Times New Roman", "Helvetica neue", Arial;
	text-transform: capitalize;
	margin-bottom: 10px;
	color: #800d0d;
}
p {
	font: normal 1em/25px "Times New Roman", "Helvetica Neue", Arial;
	color: #800d0d;
}
address {
	color: #800d0d;
}
h3 {
	font-size: 2em;
	color: #800d0d;
}
h4 {
	font-size: 1em;
	color: #800d0d;
}
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.icons {
	margin-left: 10px;
}
#border {
	border-right: 5px solid #800d0d;
}
/* ---------- End Resets ---------- */ 
/* ---------- Main body ------------ */ 
body {
	width: 800px;
	margin: 0 auto;
}
/* ---------- Header ----------*/

header {
	width: 800px;
	margin-top: 10px;
}

#logo {
	text-align: center;
}


/* ---- nav ---- */

nav ul {
	width: 800px;
}

nav ul li {
	float: left;
	width: 133px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
}

nav ul li a {
	display: block;
	color: red;
}

/* ---------- End Header ---------- */ 
/* ---------- Section ---------- */
section {
	overflow: hidden;
	width: 800px;
}
.half_width {
	width: 380px;
	height: 200px;
	margin: 15px 6px;
}



#form_home {
	margin-top: 80px;
}

#email {
	width: 200px;
	height: 30px;
	float: left;
	margin-right: 10px;
}
.button_2 {
	display: block;
	height: 35px;
	width: 100px;
	background-color: #800d0d;
	color: white;
}
.reservations_text {
	width: 280px;
	font-size: .8em;
	margin: 15px 20px;
}
section h3 {
	margin: 15px;
}
/* ----- Reservations Form ----- */ 
#reservations {
	width: 450px;
}
#reservation_form {
	margin: 40px;
	width: 400px;
}
section label {
	width: 150px;
	text-align: right;
	margin-right: 30px;
	color: #800d0d;
}
section input {
	width: 150px;
	margin: 5px;
}
#reservation_time {
	margin: 0  30px 0 35px;
}
#telephone, #data { /* had an issue here that I could not figure 
	out so i had to make two id's to make this work */
	width: 150px;
	text-align: right;
	margin-right: 30px;
	float: left;
}
#radio {
	width: 200px;
	float: left;
}
#radio input {
	float: left;
	width: 50px;
	text-align: left;
}
#radio label {
	float: left;
	text-align: left;
	width: 50px;
}
.button_3 {
	display: block;
	height: 35px;
	width: 100px;
	background-color: #800d0d;
	color: white;
	float: left;
	margin-left: 180px;
}
/* ---------- About Page ---------- */
#about {
	width: 800px;
}
.left_about {
	width: 350px;
}
.right_about {
	width: 350px;
}
.right_about, .left_about {
	margin: 10px;
	padding: 10px;
}
#about ul li {
	margin: 10px;
	text-align: center;
}
#about p {
	margin-bottom: 15px;
}
/* ---------- maps page ---------- */

#map {
	text-align: center;
}
#map_border {
	margin: 0 auto;
	width: 426px;
	border: 3px solid #800d0d;
}
/* ---------- End Section --------- */
/* ---------- footer --------- */
footer {
	width: 800px;
	margin-top: 80px;
	overflow: hidden;
}
.small_width {
	width: 100px;
	margin-left: 5px;
}

.big_width {
	width: 210px;
}
/* ---------- End Footer ----------*/





















