
/* ---------- notes ----------*/

/* 
	font colors: #800d0d;

	link colors:  #d42a2a;

	hover color: #d54848;
*/

/* ---------- Resets and constants ----------*/

/* ----- Notes ----- */ 
/*  

1. change he icons responsive sizes to fixed sizes. 
it is breaking for some reason. 

2. lite.launchlist.net
put your name, oscars anme etc...

3. look into favicons. google it 

4. check all of the submit buttons for the proper value 


                               _
                            ==(W{==========-      /===-
                              ||  (.--.)         /===-_---~~~~~~~~~------____
                              | \_,|**|,__      |===-~___                _,-' `
                 -==\\        `\ ' `--'   ),    `//~\\   ~~~~`---.___.-~~
             ______-==|        /`\ html /\ \    | |  \\           _-~`
       __--~~~  ,-/-==\\      (   | .  |~~~~|   | |   `\        ,'
    _-~       /'    |  \\     )__/==0==-\<>/   / /      \      /
  .'        /       |   \\      /~\___/~~\/  /' /        \   /'
 /  ____  /         |    \`\.__/-~~   \  |_/'  /          \/'
/-'~    ~~~~~---__  |     ~-/~         ( )   /'        _--~`
                  \_|      /        _) | ;  ),   __--~~
                    '~~--_/      _-~/- |/ \   '-~ \             
                   {\__--_/}    / \\_>-|)<__\      \
                   /'   (_/  _-~  | |__>--<__|      | 
                  |   _/) )-~     | |__>--<__|   C  |   
                  / /~ ,_/       / /__>---<__/  S   |  
                 o-o _//        /-~_>---<__-~  S   / 
                 (^(~          /~_>---<__-      _-~              
                ,/|           /__>--<__/     _-~                 
             ,//('(          |__>--<__|     /                  .----_ 
            ( ( '))          |__>--<__|    |                 /' _---_~\
         `-)) C) (           |__>--<__|    |               /'  /     ~\`\
        ,/,'//S (             \__>--<__\    \            /'  //        ||
      ,C (  S, ))              ~-__>--<_~-_  ~--____---~' _/'/        /'
    `~S  )`S) ,/|                 ~-_~>--<_/-__       __-~ _/ 
  ._-~//( )/ )) `                    ~~-'_/_/ /~~~~~~~__--~ 
   ;'( ')/ ,)(                              ~~~~~~~~~~ 
  ' ') '( (/
    '   '  ` 
    CSS DRAGON!!           
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
ul li {
	color: #800d0d;
}
a {
	text-decoration: none;
	color: #d42a2a;
}
h2 {
	font: normal 1.5em/25px "IM+Fell+English", "Helvetica neue", Arial;
	text-transform: capitalize;
	margin-bottom: 10px;
	color: #800d0d;
}
p {
	font: normal 1em/25px "IM+Fell+English", "Helvetica Neue", Arial;
	color: #800d0d;
}
address {
	color: #800d0d;
}
h3 {
	font-size: 2em;
	color: #800d0d;
}
h4 {
	font-size: 1em;
	color: #800d0d;
}
.float-left {
	float: left;
}

.float-right {
	float: right;
}
.icons {
	margin-left: 10px;
}
#border {
	border-right: 5px solid #800d0d;
}

img {
	width: 95%;
}
.icons {
	width: 50px;
	height: 50px;
}
/* ---------- Main body ------------ */ 
html {
	background-image: url("../images/furley_bg.png");
}
body {
	max-width: 800px;
	margin: 0 auto;
}
/* ---------- Header ----------*/
header {
	width: 100%;
	margin-top: 10px;
}

#logo {
	text-align: center;
	width: 50%; /* 400 / 800 */ 
	margin: 0 auto;
}
/* ---- nav ---- */

nav ul {
	width: 100%;
}
nav ul li {
	float: left;
	width: 16%; /* 133 / 800 */ 
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px; /* 5 / 800 */ 
}
nav ul li a {
	display: block;
	color: red;
}
/* ---------- End Header ---------- */ 
/* ---------- Section ---------- */
section {
	overflow: hidden;
	width: 100%;
}
#move {
	margin-top: 20px;
}
.half_width {
	width: 47.5%; /* 380 / 800 */
	margin: 1.875% .75%; /* 6 / 800 */ 
}

#form_home {
	margin-top: 80px;
}

#email {
	width: 200px; /* 200 / 800 */ 
	height: 30px;
	float: left;
	margin-right: 1.2%; /* 10 / 800 */ 
}
.button_2 {
	display: block;
	height: 35px;
	width: 25%; /* 100 / 800 */ 
	background-color: #800d0d;
	color: white;
}
.reservations_text {
	width: 35%; /* 280 / 800 */ 
	font-size: .8em;
	margin: 15px 20px; 
}
section h3 {
	margin: 1.8%; /* 15 / 800 */ 
}


/* ----- Menu Page ---------- */

#menu h2, #menu h3, #menu h4 {
	text-align: center;
}

#menu h2 {
	margin-top: 10px;
}

#menu h3 {
	line-height: 30px;
	font-size: 30px;
	margin-bottom: 10px;
}

#menu h5 {
	line-height: 20px;
	font-size: 15px;
	color: #800d0d;
	margin-bottom: 10px;
	margin-top: 0;
}

#menu h4 {
	line-height: 20px;
	margin: 20px 0 20px;
	font-size: 20px;
	color: #800d0d;
	text-decoration: underline;
}

#menu {
	width: 100%;
	text-align: center;
}

#menu li {
	margin: 10px 0 10px;
}

#menu li span {
	font-style: italic;
}

/* ----- Reservations Form ----- */ 
#reservations {
	width: 56.25%; /* 450 / 800 */
}
#reservation_form {
	margin: 40px; /* 40 / 450 */ 
	width: 400px; /* 400 / 450*/ 
}
section label {
	width: 150px; /* 150 / 450 */ 
	text-align: right;
	margin-right: 30px; /* 30 / 450 */ 
	color: #800d0d;
}
section input {
	width: 150px; /* 150 / 450 */ 
	margin: 1.1111111%; /* 5 / 450 */ 
}
#reservation_time {
	margin: 0  30px 0 35px;
}
#telephone, #data { /* had an issue here that I could not figure 
	out so i had to make two id's to make this work */
	width: 150px; /* 150 / 450 */ 
	text-align: right;
	margin-right: 30px;
	float: left;
}
#radio {
	width: 200px; /* 200/450 */ 
	float: left;
}
#radio input {
	width: 80px; /* 80 / 450 */ 
	float: left;
	text-align: left;
	margin-top: 10px;
}
#radio label {
	width: 80px; /* 80 / 450 */ 
	float: left;
	padding-top: 10px;
}
.button_3 {
	display: block;
	height: 35px;
	width: 100px; /* 100/ 450 */ 
	background-color: #800d0d;
	color: white;
	float: left;
	margin-top: 20px;
	margin-left: 180px; /* 180 / 450 */ 
}

.title {
	float: left;
}
/* ---------- About Page ---------- */
#about {
	width: 100%;
	overflow: hidden;
}
.left_about {
	width: 43.75%; /* 350 / 800 */
}
.right_about {
	width: 43.75%; /* 350 / 800 */ 
}
.right_about, .left_about {
	margin: 1.25%; /* 10 / 800 */ 
	padding: 1.25%;
}
#about ul li {
	margin: 1.25%;
	text-align: center;
}
#about p {
	margin-bottom: 15px;
}

/* ---------- contact ---------- */
.left_side {
	width: 37.5%; /* 300 / 800 */ 
}

#contact_form label {
	width: 18.75%; /* 150/800 */
	text-align: right;
	margin-left: 6.25%; /* 50/ 800 */ 
}

#contact_form {
	width: 50%; /* 400 / 800 */ 
	margin: 6.25% 6.25% 0 0; /* 50/800 */ 
}

#contact_form textarea {
	margin-right: 15%; /* 120/800 */  
}

#contact_form h4 {
	margin: 3.125% 0 1.25%; /* 25 / 800 */ /* 10/800*/
}
#contact_form textarea {
	margin-right: 125px;
}
/* ---------- maps page ---------- */
iframe {
	width: 100%;
}

#map_border {
	margin: 0 auto;
	width: 53.25%; /* 426/800 */ 
	border: 3px solid #800d0d;
}

/* ---------- End Section --------- */
/* ---------- footer --------- */
footer {
	width: 100%;
	margin-top: 10%; /* 80/800 */ 
	overflow: hidden;
}
.small_width {
	width: 12.5%; /* 100 / 800 */ 
	margin-left: .625%; /* 5 / 800 */ 
}

.big_width {
	width: 26.2%; /* 210 / 800 */ 
}
/* ---------- End Footer ----------*/
/* ---------- Pseudo classes ---------- */ 


/* LOVE HA */

a:visited {
	color: #9d429a;
}

a:hover {
	color: #d54848;
}

a:active {
	color: #259bff;
}

input:focus {
	background-color: #25bfff;
	color: #800d0d;
}

input:hover {
	background-color: #f6dcdc;
}

textarea:hover {
	background-color: #f6dcdc;
}

.button_3:hover{
	background-color: #fff;
	color: #800d0d;
}

.button_3:active {
	background-color: #f6dcdc;
	color: #800d0d;
}

textarea:focus {
	background-color: #25bfff;
	color: #800d0d;
}

/* ---------- Media Queries ---------- */ 

/* Desktops and laptops ----------- */

@media only screen and (max-width: 812px) and (min-width: 650px){
	/* ----- index.html ----- */ 
	#border {
		border: none;
	}
	.main_subject div {
		width: 100%;
		margin: 0;
		padding: 0;
		float: none;
		/*height: 100px;*/
	}
	img {
		margin: 0 10px 0 10px;
	}
	.main_subject h2{
		text-align: center;
		overflow: hidden;
	}
	.main_subject p {
		text-align: center;
	}
	.main_subject form {
		margin-left: 200px;
	}
	/* ----- Menu ----- */ 
	#menu {
		width: 100%;
		text-align: center;
		/*background-color: blue;*/
	}

	/* ----- Reservations ----- */ 
	#reservations form 	 {
		width: 400px;
		margin-left: 100px;
	}

	#button_3 {
		margin-top: 0;
		padding-top: 0;
	}

	#reservations h3 {
		margin:0;
		padding: 0;
		text-align: center;
	}

	#reservations label {
		width: 150px;
		height: 20px;
	}
	#reservations input {
		width: 200px;
		height: 20px;
	}
	#radio {
		width: auto;
		height: auto;
	}
	#reservation_time {
		margin-left: 35px;
		padding-left: 0;
	}

	/* ----- about ----- */ 

	#about {
		margin: 0 auto;
		width: 100%;
	}
	.left_about, .right_about {
		margin: 0 auto;
		text-align: center;
		float: none;
		width: 80%;
	}

	#about h3 {
		text-align: center;
	}
	#about p {
		text-align: center;
	}
	/* ----- contact ----- */
	.contact {
		width: 100%;
		overflow: hidden;
	}
	section .contact_page {
		margin: 0 auto;
		width: 80%;
		float: none;
	}
	section .contact_page h3, section .contact_page h2, section .contact_page address, section .contact-page p {
		text-align: center;
	}
	#contact_form {
		margin: 20px auto;
		float: none;
		overflow: hidden;
	}
	/* ----- directions ----- */

	/* ----- footer ----- */ 
	footer {
		background-color: #800d0d;
	}
	footer address {
		margin-left: 40%;
		margin-top: 2%;
	}

	footer img {
		width: 50px; /* 50 /800 */ 
		height: 50px;

	}
	footer .small_width {
		margin: 1% 0 0 10%;
	}

	footer .icons {
		margin: 1% 0 0 10%;
	}
	footer .big_width {
		width: 100%;
		display: inline;
		margin-top: 10px;
		text-align: center;
	}
	footer h4, footer address, footer p {
		color: #fff;
	}
}
@media only screen and (max-width: 649px) and (min-width: 320px){
	#logo {
		width: 100%;
		height: 100px;
	}
	#logo img {
		width: 220px;
	}
	nav {
		width: 70%;
		margin: 0 auto;
	}
	nav ul li {
		float: none;
		width: 100%;
		height: 90px;
		line-height: 90px;
		background-color: black;
		margin: 1px;
		padding: 0;
	}
	nav ul li a {
		font: bold small-caps normal 20px/90px "IM+Fell+English", Helvetica, sans-serif;
		float: none;
		text-align: center;
	}
	.body_image {
		display: none;
	}
	.float-let {
		float: none;
	}
	.float-right {
		float: none;
	}
	.half_width {
		width: 95%;
		text-align: center;
	}
	#border {
		border: none;
	}
	/* ------ Index ------ */
	#form_home {
		margin: 10px auto;
		width: 210px;
		overflow: hidden;
	}
	#form_home input, .button_2 {
		width: 200px;
		margin: 0 auto;
	}
	/* ------ Menu ------ */ 
	.navigation {
		display: none;
	}
	#about .float-left {
		float: none;
		margin: 0 auto;
		width: 80%;
		text-align: center;
	}
	#about h3 {
		float: none;
		text-align: center;
	}
	/*------ Reservations ------ */
	.reservations_text {
		display: none;
	}
	#reservations {
		width: 100%;
		margin-top: 50px;
	}
	#reservations h3 {
		text-align: center;
	}
	/* ------ about ------ */

	/* ------ contact ------ */
	.left_side {
		width: 100%;
		text-align: center;
		margin-top: 50px;
	}
	#contact_form {
		margin: 0 auto;
		margin: 50px 0 0 150px;
		text-align: center;
	}
	#text-area label {
		text-align: left;
	}
	#text-area textarea {
		margin: 0 auto;
	}
	/* ------ Directions ------ */ 
	#map h3 {
		text-align: center;
		margin-top: 50px;
	}
	#map div {
		margin-top: 50px;
	}

	footer {
		display: none;
	}
}













